/* BLOCK */
.folder{
    display: flex;
    flex-direction: column;
}

/* ELEMS */

.folder__body{
    display: flex;
    align-items: center;
    gap: 20px;
}
.folder__name{
    font-weight: bold;

}
.folder__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 3px solid #E6E6E6;
    cursor: pointer;
}
.folder__sub{
    margin-left: 40px;
    display: none;
}

/* MODIFICATORS */

.folder--selected > .folder__main{
    border-color: #0388D4;
}
.folder--selected > .folder__sub{
    display: flex;
    flex-direction: column;
}