@import url('css/main/file_branch.css');
@import url('css/main/file_info.css');
@import url('css/main/folder.css');
@import url('css/main/header.css');
@import url('css/main/form.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body, html { 
    height: 100%;
}



a{
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    
}