.block{
    padding: 10px 15px;
    border: 1px solid var(--dark-op20-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 40px;
}
.text{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}
.close{
    cursor: pointer;
}