.task{
    padding: 20px 0;
}
.files{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    row-gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}


.addFile{
    justify-self: end;
}
.isSubmitted--true{
    grid-column: 1/-1;
    justify-self: center;
}
.isLate--true div div:last-child{
    color: var(--error-color);
}
