.block{
    padding: 10px 10px;
    border-bottom: 2px solid var(--dark-op10-color);
    display: flex;
    justify-content: space-between;
}
.actions{
    display: none;
}
.block:hover .actions{
    display: block;
}
.action{
    cursor: pointer;
}
.body{
    display: flex;
    gap: 15px;
}
.block:last-child{
    border: none;
}
.icon{
    color: var(--primary-color);
    align-self: start;
    width: 30px;
}
.title{
    font-weight: 500;
    font-size: 17px;
    min-width: 200px;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: start;
}
.title-extended{
    width: auto;
}
.value{
    align-self: center;
    font-size: 16px;
    max-width: 400px;
    word-wrap: break-word;
}