.header{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--primary-color);
    padding: 0 8px 6px 8px;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.icon{
    color: var(--primary-color);
}
.items{
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 40px;
}
.image{
    overflow: hidden;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}
.image > *{
    width: 100%;
    margin: 20px 0; 
}
.image > iframe{
    height: 550px; 
}
