.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary-color);
    padding: 0 8px 6px 8px;
}
.header_body{
    display: flex;
    align-items: center;
    gap: 10px;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.items{
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 40px;
}
.actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    margin-top: 35px;
}