.block{
    padding: 12px 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: fit-content;
    border-radius: 10px;
    
}
.block > *{
    font-weight: 500;
    font-family: var(--title-font);
}
.block-style--1{
    background-color: var(--primary-color);
}
.block-style--1 > *{
    color: var(--light-color);
}

.block-style--2{
    background-color: var(--light-color);
    border: 1px solid var(--dark-op20-color);
}
.block-style--2 > *{
    color: var(--primary-color);
    
}