.block{
    height: 100%;
    background-image: url('http://localhost:3000/imgs/image32.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    display: block;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 84px);
}
.body{
    display: flex;
    gap: 60px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
}
.logo{
    width: 140px;
}
.title{
    color: #fff;
    width: 600px;
    font-weight: 700;
}