.block{
    position: absolute;
    background-color: var(--light-color);
    box-shadow: 0 10px 20px var(--dark-op25-color);
    border-radius: 10px;
    padding: 10px 10px;
    z-index: 1;
}
.items{
    display: flex;
    flex-direction: column;
}
.item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 15px;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(175, 175, 175, 40%);
}
.item:hover{
    background-color: var(--dark-op10-color);
}
.item:last-child{
    border: none;
}

.icon{
    color: var(--primary-color);
}   
.text{
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
}