.block{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.uploaded{
    position: relative;
    flex: 1;
}
.error{
    position: absolute;
    font-size: 12px;
    color: var(--error-color);
    bottom: -19px;

}
.files{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.files--grid-3-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
}

.addfile{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    justify-content: center;
    border-radius: 10px;

    border: 1px solid var(--dark-op20-color);
    padding: 10px;
    cursor: pointer;
    height: 40px;
    
}
.files--grid-3-col + .actions{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.addfile > *{
    /* color: var(--dark-op25-color); */
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    
}
