.block{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.title{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.uploaded{
    position: relative;
    flex: 1;
}
.error{
    position: absolute;
    font-size: 12px;
    color: var(--error-color);
    bottom: -19px;

}
.files{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow-y: scroll;
}


.addfile{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    justify-content: center;
    border-radius: 10px;

    border: 1px solid var(--dark-op20-color);
    padding: 10px;
    cursor: pointer;
    height: 40px;
    
}
.actions{
    margin-top: 10px;
}
.addfile > *{
    /* color: var(--dark-op25-color); */
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    
}
