.block{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 500px;
    border-right: 3px solid rgba(182, 178, 177, 0.2); /* !!! */
    height: 100%;
    overflow-y: auto;
}
