.block{
    box-shadow: 0 10px 15px -3px var(--dark-op10-color), 0 4px 6px -4px var(--dark-op10-color);
    background-color: var(--light-color);
    width: 1245px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.header{
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.user_info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.role{
    font-family: var(--title-font);
    font-weight: 500;
}
.role--administrator{
    color: var(--error-color);
}
.role--teacher{
    color: var(--success-color);
}
.role--student{
    display: none;
}
.username{
    cursor: pointer;
    font-size: 18px;
    color: var(--light-gray-text-color);
}
.username:hover{
    color: var(--primary-color);
}
.body{
    height: 600px;
    display: flex;
}
