.icon--group,
.icon--subject,
.icon--file{
    color: var(--primary-color) !important;
}
.icon--folder{
    color: var(--warning-color) !important;
}
.icon--task{
    color: var(--orange-color) !important;
}