.file-branch{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    overflow: auto;
    height: 100%;

}

.file-branch__item{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 310px;
    user-select: none;
}
.file-branch__item *{
    cursor: pointer;
}
.file-branch__item-body{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 18px;
}
.file-branch__item-label{
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 10px 20px;

}
.file-branch__item-name{
    font-size: 20px;
    max-width: 200px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}
.file-branch__item:has(.file-branch__field:checked){
    background-color: rgba(3, 136, 212, 0.2);
    
    border-color: #0388D4;
}
.file-branch__item:has(.file-branch__field:checked) .file-branch__item-label .file-branch__item-icon path{
    fill: #0388D4;
    fill-opacity: 1;
}
.file-branch__item-edit{
    outline: none;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    height: 24px;
}