@import url('css/main/files.css');
@import url('css/main/header.css');
@import url('css/main/form.css');
@import url('css/main/link.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('css/main/inner-header.css');
@import url('css/main/directories.css');
@import url('css/main/file-branch.css');
@import url('css/main/info.css');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    background-color: #E6F0F9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__section{
    background-color: #fff;
    width: 1445px;
    height: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

body, html { 
    height: 100%;
}



a{
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    
}