.block{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}
.input{
    outline: none;
    box-shadow: inset 0px 0px 8px var(--primary-op25-color);
    border: none;
    width: 200px;
    padding: 5px 10px;
}