.block{
    width: 100%;
    padding: 5px 24px;
    overflow-y: scroll;
    
    

}
.block::-webkit-scrollbar {
    display: none;
}
.title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
