.files{
    height: 100%;
    display: flex;
}
.files__branch{
    max-width: 370px;
    border-right: 3px solid rgba(182, 178, 177, 0.2);
    height: 100%;
}
.file__info{
    padding: 10px 25px;
    width: 100%;
}
