/* BLOCK */

.header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 300px;
}

/* ELEMS */
.header__nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header__nav-link a, 
.header__nav-link{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
/* MODIFICATORS */