.block{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.checkbox{

}
.title{
    background-color: var(--dark-primary-color);
    color: var(--light-color);
    padding: 10px 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 5px 15px var(--dark-op25-color);
}