

/* BLOCK */
.file-branch{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    padding: 25px 20px;
}

/* ELEMS */

.file-branch__header{
    display: flex;
    align-items: center;

    justify-content: space-between;
    
}
.file-branch__label{

    font-weight: bold;
    font-size: 32px;
}
.file-branch__add{

}
.file-branch__folders{

}

/* MODIFICATORS */