.block{
    color: var(--dark-color);
    font-weight: 600;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.block:hover{
    background-color: var(--dark-op10-color);
}
.body{
    position: relative;
}
.items{
    position: absolute;
    border: 1px solid var(--dark-op10-color);
    border-radius: 10px;
    top: 30px;
    left: -35px;
    box-shadow: 0 10px 25px var(--dark-op20-color);
    padding: 10px;
    background-color: var(--light-color);
}
.item:last-child{
    border: none;
}
.item{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-bottom: 2px solid var(--dark-op10-color);
}
.item:hover{
    background-color: var(--dark-op10-color);
}
.text{
    font-weight: 500;
    max-width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.icon{
    color: var(--warning-color);
    font-size: 20px;
    
}